[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html {
  height: 100%;
}

body {
    padding-top: 70px;
}

.content {
  width: 100%;
  min-height: calc(100vh - 70px - 52px);
}

.footer {
  margin-bottom: 0px;
}
